Source: blends-dev
Maintainer: Emmanouil Kiagias <e.kiagias@gmail.com>
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9),
               python
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=blends/blends-gsoc.git
Vcs-Git: git://anonscm.debian.org/blends/blends-gsoc.git

Package: blends-dev
Architecture: all
Depends: debconf | debconf-2.0,
         make | build-essential,
         ${misc:Depends},
         ${python:Depends}
Suggests: blends-doc
Replaces: cdd-dev
Description: Debian Pure Blends common files for developing metapackages
 This package makes life easier when packaging metapackages.  Perhaps
 this will also encourage other people to build metapackages if there are
 easy to use templates where only the packages, the metapackage is depending
 from, to insert into the right place.
