Source: blends-dev
Priority: optional
Section: devel
Maintainer: Emmanouil Kiagias <e.kiagias@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Vcs-Browser: http://git.debian.org/?p=blends/blends-gsoc.git
Vcs-Git: git://git.debian.org/git/blends/blends-gsoc.git

Package: blends-dev-patch
Architecture: all
Depends: debconf (>= 0.5) | debconf-2.0,
         make | build-essential,
         ${misc:Depends}
Suggests: blends-doc
Replaces: cdd-dev
Description: This package will replace current blends-dev.