#!/bin/sh -e

# Initialize debconf if not yet done
if [ _"$DEBCONF_REDIR" = _"" ]; then
    . /usr/share/debconf/confmodule
    db_version 2.0
    db_capb backup
fi

db_input "medium" "shared/#BLEND#-config/useusermenus" || true
db_go
db_get shared/#BLEND#-config/useusermenus
if [ $RET ] ; then
    db_input "medium" "shared/#BLEND#-config/usermenus" || true
    db_go
fi

# if blends.config package is not yet installed we have to stop here
if [ ! -f /etc/blends/blends.conf ] ; then
   db_stop
   exit 0
fi

[ -s /etc/blends/blends.conf ]         && . /etc/blends/blends.conf
[ -s /etc/blends/#BLEND#/#BLEND#.conf ] && . /etc/blends/#BLEND#/#BLEND#.conf

# Add at least one default role for each Blend
addRole #BLEND# #BLEND#

# Login names of all users of the system as comma separated list 
USERS=`getAllUsers 0 ,`

# "login (Real Name)" of users registered to the Debian Pure Blend #BLEND#
BLENDUSERS=`getUsersInRole #BLEND# #BLEND# 0 ,`

db_set #BLEND#-config/group "$BLENDUSERS"
db_subst #BLEND#-config/group users "$USERS"
db_get #BLEND#-config/group

db_input high #BLEND#-config/group || true
db_go

db_stop

if [ -d /etc/blends/#BLEND#/ ] ; then 
    if [ ! -f /etc/blends/#BLEND#/#BLEND#.conf ] ; then 
        # Due to a bug in blends-common the real Blend config file was moved to #BLEND#.conf~.  This is fixed here
        if [ -f /etc/blends/#BLEND#/#BLEND#.conf~ ] ; then
            cp -a /etc/blends/#BLEND#/#BLEND#.conf~ /etc/blends/#BLEND#/#BLEND#.conf
        fi
    fi
fi
                
exit 0
